.compose {
	width:					100%;

	background:				url('../../assets/compose-bg.png') left top repeat-x;
	padding-top:			60px;
}

.compose .txt {
	color:					#fff;
	border-width:			12px;
	border-image:			url('../../assets/compose-border.png') 12 12 fill stretch;
	-webkit-border-image:	url('../../assets/compose-border.png') 12 stretch;
	min-height:				80px;

	margin:					5px;
	padding:				0;
}

/*
	Prevent showing an annoying border when the field is selected. Of course it
	is selected... It is the only field.
*/
.compose .txt:focus {
	outline:				none !important;
}

.compose .counter {
	position:				absolute;
	right:					13px;

	color:					#4d5154;
	font-weight:			bold;
	bottom:					50px;
	font-size:				40px;
	font-family:			Prelude, Arial, Helvetica, sans-serif;
}

.compose .button {
	width:					125px;
	margin:					7px !important;

	font-weight:			bold;
}
