.compose
{
	position:				relative;

	width:					100%;
	background:				grey;
}

/*
	Tweak the display when the compose dialog is full-height which is the
	default on some systems with a virtual keyboard.
*/
.full-height .compose
{
	height:					100%;
}

.full-height .compose .counter
{
	position:				absolute;
	top:					0px;
	right:					0px;
}

.compose .counter2,
.compose .avatar
{
	position:				absolute;
	left:					0px;
	top:					0px;
}

.compose .avatar
{
	-webkit-border-radius:	5px;
	border-radius:			5px;

	margin:					10px;

	height:					45px;
	width:					45px;
	background-size:		45px;
}

.compose .text
{
	min-height:				85px;
}

.compose .text,
.compose .empty,
.compose .images,
.compose .info
{
	color:					white;

	width:					100%;

	padding:				0px 3em 0px 65px;
	box-sizing:				border-box;
}

.compose .empty
{
	position:				absolute;
	font-style:				italic !important;
	color:					#4d5154;

	pointer-events:			none;
}

.compose .info
{
	font-size:				14px;
	font-weight:			bold;
	padding-top:			5px;
	padding-bottom:			5px;
}

.compose .icons
{
	position:				absolute;
	width:					100%;
	bottom:					0px;

	pointer-events:			none;
}

.compose .icon
{
	height:					49px;
	pointer-events:			auto;
}


/*
	Prevent showing an annoying border when the field is selected. Of course it
	is selected... It is the only field.
*/
.compose .text:focus
{
	outline:				none !important;
}

.compose .images *
{
	width:					48px;
	height:					48px;
	background-size:		contain !important;
	background-position:	center center !important;
	margin:					5px;

	display:				inline-block;
}

.compose .autocomplete button
{
	margin:					0px 3px 3px 6px;
}

.compose .counter
{
	position:				absolute;
	top:					0px;
	right:					0px;
	margin:					10px;

	font-weight:			bold;
	font-size:				1.3rem;

	color:					#4d5154;
}


