.compose {
	position:				relative;

	width:					100%;

	background:				url('../../assets/compose-bg.png') left top repeat-x;
	padding-top:			60px;
}

.compose .avatar {
	position:				absolute;
	right:					0px;

	-webkit-border-radius:	5px;
	border-radius:			5px;

	margin:					15px 15px 0px 0px;

	height:					48px;
	width:					48px;
	background-size:		48px;
}

.compose .text {
	color:					#fff;
	border-width:			12px;
	border-image:			url('../../assets/compose-border.png') 12 12 fill stretch;
	-webkit-border-image:	url('../../assets/compose-border.png') 12 stretch;
	min-height:				80px;

	margin:					5px;
	padding:				0;

	padding:				0 58px 0 0;
}

.compose .messageto {
	margin:					3px 0px 3px 7px;
	font-size:				14px;
	font-weight:			bold;
}

/*
	Prevent showing an annoying border when the field is selected. Of course it
	is selected... It is the only field.
*/
.compose .text:focus {
	outline:				none !important;
}

.compose .counter {
	position:				absolute;
	right:					13px;

	color:					#4d5154;
	font-weight:			bold;
	bottom:					50px;
	font-size:				40px;
	font-family:			Prelude, Arial, Helvetica, sans-serif;
}

.compose .button {
	width:					125px;
	margin:					7px !important;

	font-weight:			bold;
}
