[submodule "enyo"]
	path = enyo
	url = git://github.com/enyojs/enyo.git
[submodule "lib/onyx"]
	path = lib/onyx
	url = git://github.com/enyojs/onyx.git
[submodule "lib/layout"]
	path = lib/layout
	url = git://github.com/enyojs/layout.git
[submodule "lib/g11n"]
	path = lib/g11n
	url = git://github.com/enyojs/g11n.git
