[submodule "lib/onyx"]
	path = lib/onyx
	url = git://github.com/enyojs/onyx.git
[submodule "lib/layout"]
	path = lib/layout
	url = git://github.com/enyojs/layout.git
[submodule "enyo"]
	path = enyo
	url = git://github.com/enyojs/enyo.git
[submodule "enyo1-to-enyo2-kinds"]
	path = source/enyo1-to-enyo2-kinds
	url = git://github.com/ArthurThornton/enyo1-to-enyo2-kinds.git
