.listitem {
	position:				relative;
}

.cover {
	opacity:				0;
/*
	z-index:				2;
	background:				green;
	border:					1px solid pink;
*/
}

.listmsg {
	text-align:				center;
	font-size:				15px;
	font-weight:			bold;
	color:					#d2d2d2;
	padding:				7px 0px 9px 0px;
	background:				url(../../assets/highlight.png)			center top		repeat-x,
							url(../../assets/highlight-bottom.png)	center bottom	repeat-x;
}

.message {
	padding:				10px;
	clear:					both;
}

.message .text .link {
	font-weight:			bold;
}

.message a,
.message a:link,
.message a:visited,
.message a:active {
	font-size:				15px;
	text-decoration:		none;
	font-weight:			normal;
	color:					#777;
	vertical-align:			bottom;

	max-width:				200px;
	text-overflow:			ellipsis;
	overflow:				hidden;
	white-space:			nowrap;
	display:				inline-block;
}

/* Try to work around issues with enyo.PulldownList */
.hide-puller .enyo-list-pulldown {
	opacity:				0;
}

/* Allow customizing the size of text in the message list */
.fontSizeTiny .messagelist,
.fontSizeTiny .messagelist a {
	font-size:				12px;
}
.fontSizeSmall .messagelist,
.fontSizeSmall .messagelist a {
	font-size:				14px;
}
.fontSizeMedium .messagelist,
.fontSizeMedium .messagelist a {
	font-size:				16px;
}
.fontSizeLarge .messagelist,
.fontSizeLarge .messagelist a {
	font-size:				18px;
}

.conversation {
	/* Ensure the child is fit properly */
	position:				relative;

	min-height:				100px;
	max-height:				80%;
}

/* Message details shows at least medium size, but may be large as well */
.messagedetails {
	font-size:				16px;
}
.fontSizeLarge .messagedetails {
	font-size:				18px;
}


.message {
	/* Leave a space on the side for the avatar */
	margin-left:			55px;

	/*
		Position (but don't actually move) the message relative so that the
		avatar can use absolute positioning and be relative to the message.
	*/
	position:				relative;
	min-height:				55px;
	background-position:	5px 5px;
	background-repeat:		no-repeat;
}

.selected .message.selected {
	background:				#bbb;
}

.message .avatar {
	-webkit-border-radius:	5px;
	border-radius:			5px;

	position:				absolute;
	top:					5px;
	left:					-50px;

	height:					48px;
	width:					48px;
	background-size:		48px;
}

.message .rt .avatar {
	left:					-25px;

	height:					24px;
	width:					24px;
	background-size:		24px;
}

.message .rt {
	/* Leave a space on the side for the avatar */
	margin-left:			28px;

	/*
		Position (but don't actually move) the message relative so that the
		avatar can use absolute positioning and be relative to the message.
	*/
	position:				relative;
	height:					28px;
	background-position:	0px 0px;
	background-repeat:		no-repeat;
}

.hideAvatar .messagelist,
.hideAvatar .messagelist .rt {
	margin-left:			0px;
	min-height:				auto;
}

.hideAvatar .messagelist .message .avatar {
	display:				none;
}



.message .details,
.message .rt .byline {
	color:					#777;
	height:					12px;
	line-height:			12px;
	font-size:				12px;

	padding:				3px 0px 0px 5px;

	text-overflow:			ellipsis;
	overflow:				hidden;
	white-space:			nowrap;
}

.message .screenname {
	float:					left;
	color:					#777;
	font-weight:			normal;
}

.message .username {
	float:					right;
	color:					#777;
	font-weight:			normal;
}

.message .rt,
.message .text {
	clear:					both;
}

.message .time {
	padding-right:			5px;
}

.message .via {
	color:					#777;
}

/*
	Each of these items can be toggled using a user option. If the option is
	enabled then the relevant class will be set on the main kind.
*/
.message .time.relative,
.message .time.absolute,
.message .username,
.message .screenname,
.message .via {
	display:				none;
}

.showTimeRelative	.time.relative,
.showTimeAbsolute	.time.absolute,
.showUserName		.username,
.showScreenName		.screenname,
.showVia			.via {
	display:				inline-block;
}

/* When showing both relative and absolute times wrap the absolute in parens */
.showTimeRelative.showTimeAbsolute .message .time.absolute:before {
	content:				" (";
}

.showTimeRelative.showTimeAbsolute .message .time.absolute:after {
	content:				")";
}

.thumbnails * {
	min-width:				64px;
	height:					64px;
	display:				inline-block;

	-webkit-border-radius:	5px;
	border-radius:			5px;

	background-repeat:		no-repeat;
	background-position:	center center;

	margin:					5px 2% 0px 0px;
}

.thumbnailsOff .thumbnails * {
	display:				none;
}

.thumbnailsLarge .thumbnails * {
	max-width:				100%;
	width:					100%;

	background-size:		100% auto;
}

.thumbnailsSmall .thumbnails * {
	max-width:				30%;
	width:					30%;

	background-size:		auto 64px;
}

.messagedetails .thumbnails * {
	height:					128px;
	background-size:		auto 128px;
}

.messagedetails .text {
	-moz-user-select:		text;
	-webkit-user-select:	text;
}

