.toaster {
	width:					100%;

	position:				fixed;

	color:					#d2d2d2;
	max-height:				1024px;
}

.toaster-chain.bottom .toaster {
	bottom:					-1024px;
	left:					0px;
	right:					0px;

	-webkit-transition:		bottom .5s;
	transition:				bottom .5s;
}
.toaster-chain.bottom .toaster.show {
	bottom:					0;
}

.toaster-chain.bottom .toaster.slim-width {
	max-width:				550px;
	margin:					0 auto 0 auto;
}
.toaster-chain.bottom .toaster.full-width {
	max-width:				100%;
}

.toaster-chain.bottom .toaster.full-height {
	position:				fixed;
	top:					0px;
	bottom:					0px;
}

.toaster.instant {
	-webkit-transition:		0s !important;
	transition:				0s !important;
}


/*
	On devices with a screen width less than 640px make all toasters the full
	width of the screen.
*/
@media screen and (max-width:640px) {
	.toaster-chain.bottom .toaster.slim-width {
		max-width:				100%;
	}
}

.toaster-chain.top .toaster {
	top:					-1024px;
	left:					0px;
	right:					0px;

	-webkit-transition:		top .5s;
	transition:				top .5s;
}
.toaster-chain.top .toaster.show {
	top:					0;
}

.toaster-chain.left .toaster {
	left:					-1024px;
	top:					0px;
	bottom:					0px;

	-webkit-transition:		left .5s;
	transition:				left .5s;
}
.toaster-chain.left .toaster.show {
	left:					0;
}

.toaster-chain.right .toaster {
	right:					-1024px;
	top:					0px;
	bottom:					0px;

	-webkit-transition:		right .5s;
	transition:				right .5s;
}
.toaster-chain.right .toaster.show {
	right:					0;
}

.toaster.bg {
	background:				url('../../assets/toaster-bg.png') left top repeat-x;
}

.toaster.show {
	display:				block !important;
}

.toaster .controls {
	height:					34px;
	width:					100%;
	background:				url('../../assets/toaster-controls.png') left top repeat-x;
	padding:				15px 0px;
}

.toaster .toastertitle {
	height:					32px;
	font-size:				16px;
	color:					#d2d2d2;
	text-align:				center;

	background:				url('../../assets/title-bg.png') left 28px repeat-x;
}

.toaster .toastertitle .icon {
	height:					32px;
	width:					32px;
	float:					right;
}

.scrim.opacity {
	background:				black;

	pointer-events:			none;
	opacity:				0.0;
	-webkit-transition:		opacity .25s;
	transition:				opacity .25s;
}

.scrim.opacity.translucent {
	pointer-events:			auto;
	opacity:				0.5;
	filter:					alpha(opacity=50);
	z-index:				auto;
}

.scrim.opacity.transparent {
	pointer-events:			auto;
	opacity:				0.0;
	filter:					alpha(opacity=0);
	z-index:				auto;
}

.scrim.image {
	opacity:				1.0;
	display:				none;
}

.scrim.image.translucent {
	background:				url(../../assets/trans-dark.png);
	display:				block;
}

.scrim.image.transparent {
	display:				block;
}

