<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:windowSoftInputMode="adjustPan"
	package="net.minego.macaw"
	android:versionName="1.1"
	android:versionCode="5"
	android:hardwareAccelerated="true"
>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:resizeable="true"
        android:anyDensity="true"
        android:xlargeScreens="true"
	/>

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
<!--
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
-->

    <application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
        android:debuggable="true"
        android:hardwareAccelerated="true"
	>
        <activity
			android:name="Macaw"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.Black.NoTitleBar"
			android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17"/>
</manifest>
