.options .account.twitter {
	background:			url('../../assets/icons/logo-twitter.png') center left no-repeat;
	background-size:	contain;
	padding-left:		20px;
}

.options .account.adn {
	background:			url('../../assets/icons/logo-adn.png') center left no-repeat;
	background-size:	contain;
	padding-left:		20px;
}

.options .wideitem,
.tabdetails .wideitem {
	width:				84%;
	margin-left:		8%;
}

.options .tab,
.options .account {
	margin:				10px;
}

.options .tab.twitter,
.options .account.twitter {
	background:			url('../../assets/icons/logo-twitter.png') center left no-repeat;
	background-size:	contain;
	padding-left:		30px;
}

.options .tab.adn,
.options .account.adn {
	background:			url('../../assets/icons/logo-adn.png') center left no-repeat;
	background-size:	contain;
	padding-left:		30px;
}

.options .label,
.tabdetails .label {
	display:			inline-block;

	height:				32px;
	line-height:		32px;

	clear:				both;
}

.options .value,
.tabdetails .value {
	display:			inline-block;
	float:				right;

	height:				32px;
	line-height:		32px;
}

.tabdetails .value,
.tabdetails .label {
	margin:				10px 20px;
}

.options .panel .button,
.tabdetails .button {
	height:				32px;
	line-height:		32px;
	padding:			0px;

	width:				150px;
}

.tabdetails .save,
.tabdetails .delete,
.tabdetails .cancel {
	width:				120px !important;
	margin:				10px;
}


