.options {
	/* Ensure the child is fit properly */
	position:			relative;

	height:				230px;
	font-size:			14px;
}

.options .account,
.options .tab {
	margin:				10px;
	font-weight:		bold;
}

.options .account.twitter {
	background:			url('../../assets/icons/logo-twitter.png') center left no-repeat;
	background-size:	contain;
	padding-left:		20px;
}

.options .account.adn {
	background:			url('../../assets/icons/logo-adn.png') center left no-repeat;
	background-size:	contain;
	padding-left:		20px;
}

.options .tab.twitter {
	background:			url('../../assets/icons/logo-twitter.png') center left no-repeat;
	background-size:	contain;
	padding-left:		20px;
}

.options .tab.adn {
	background:			url('../../assets/icons/logo-adn.png') center left no-repeat;
	background-size:	contain;
	padding-left:		20px;
}

.options .section {
	width:				250px;
	padding:			5px 10px 0px 10px;
	background:			url(../../assets/vertical-border.png) left bottom repeat-y;
}

.tabdetails .section {
	width:				320px;
	margin-left:		auto;
	margin-right:		auto;
}

.options .option {
	margin:				6px 5px 6px 5px;
}

.options .title {
	font-size:			18px;
	font-weight:		bold;
	text-transform:		uppercase;

	height:				25px;
}

.options .label,
.tabdetails .label {
	display:			inline-block;

	height:				32px;
	line-height:		32px;

	clear:				both;
}

.options .value,
.tabdetails .value {
	display:			inline-block;
	float:				right;

	height:				32px;
	line-height:		32px;

	width:				100px;
}

.tabdetails .value,
.tabdetails .label {
	margin:				10px 0px 10px 0px;
}

.options .button,
.tabdetails .button {
	height:				32px;
	line-height:		32px;
	padding:			0px;

	width:				100px;
}

.tabdetails .picker,
.tabdetails .picker .button {
	width:				150px;
}

.tabdetails .save,
.tabdetails .cancel {
	width:				150px !important;
	margin:				15px 0px 15px 0px;
}

.tabdetails .save {
	float:				right;
}

.tabdetails .cancel {
	float:				left;
}

