.gap,
.newcount {
	text-align:				center;
	font-size:				15px;
	font-weight:			bold;
	color:					#d2d2d2;
	padding:				7px 0px 9px 0px;
	background:				url(../../assets/highlight.png)			center top		repeat-x,
							url(../../assets/highlight-bottom.png)	center bottom	repeat-x;
}

.tweet {
	padding:				10px;
	clear:					both;
}

.tweet .text .link {
	font-weight:			bold;
}

.tweet *:link,
.tweet *:visited,
.tweet *:active {
	text-decoration:		none;
	font-weight:			bold;
	color:					#777;

	max-width:				200px;
	text-overflow:			ellipsis;
	overflow:				hidden;
	white-space:			nowrap;
	display:				inline-block;
}

/* Allow customizing the size of text in the tweetlist */
.fontSizeTiny .tweetlist {
	font-size:				12px;
}
.fontSizeSmall .tweetlist {
	font-size:				14px;
}
.fontSizeMedium .tweetlist {
	font-size:				16px;
}
.fontSizeLarge .tweetlist {
	font-size:				18px;
}

/* Tweet details shows at least medium size, but may be large as well */
.tweetdetails {
	font-size:				16px;
}
.fontSizeLarge .tweetdetails {
	font-size:				18px;
}


.tweet {
	/* Leave a space on the side for the avatar */
	margin-left:			55px;

	/*
		Position (but don't actually move) the tweet relative so that the avatar
		can use absolute positioning and be relative to the tweet.
	*/
	position:				relative;
	min-height:				55px;
	background-position:	5px 5px;
	background-repeat:		no-repeat;
}

.tweet .avatar {
	-webkit-border-radius:	5px;
	border-radius:			5px;

	position:				absolute;
	top:					5px;
	left:					-50px;

	height:					48px;
	width:					48px;
	background-size:		48px;
}

.tweet .rt .avatar {
	left:					-25px;

	height:					24px;
	width:					24px;
	background-size:		24px;
}

.tweet .rt {
	/* Leave a space on the side for the avatar */
	margin-left:			28px;

	/*
		Position (but don't actually move) the tweet relative so that the avatar
		can use absolute positioning and be relative to the tweet.
	*/
	position:				relative;
	height:					28px;
	background-position:	0px 0px;
	background-repeat:		no-repeat;
}

.hideAvatar .tweetlist,
.hideAvatar .tweetlist .rt {
	margin-left:			0px;
	min-height:				auto;
}

.hideAvatar .tweetlist .tweet .avatar {
	display:				none;
}



.tweet .details,
.tweet .rt .byline {
	color:					#777;
	height:					12px;
	line-height:			12px;
	font-size:				12px;

	padding:				3px 0px 0px 5px;

	text-overflow:			ellipsis;
	overflow:				hidden;
	white-space:			nowrap;
}

.tweet .screenname {
	float:					left;
	color:					#777;
	font-weight:			normal;
}

.tweet .username {
	float:					right;
	color:					#777;
	font-weight:			normal;
}

.tweet .rt,
.tweet .text {
	clear:					both;
}

.tweet .time {
	padding-right:			5px;
}

.tweet .via {
	color:					#777;
}

/*
	Each of these items can be toggled using a user option. If the option is
	enabled then the relevant class will be set on the main kind.
*/
.tweet .time.relative,
.tweet .time.absolute,
.tweet .username,
.tweet .screenname,
.tweet .via {
	display:				none;
}

.showTimeRelative	.time.relative,
.showTimeAbsolute	.time.absolute,
.showUserName		.username,
.showScreenName		.screenname,
.showVia			.via {
	display:				inline-block;
}

/* When showing both relative and absolute times wrap the absolute in parens */
.showTimeRelative.showTimeAbsolute .tweet .time.absolute:before {
	content:				" (";
}

.showTimeRelative.showTimeAbsolute .tweet .time.absolute:after {
	content:				")";
}

.thumbnails * {
	max-width:				30%;
	-webkit-border-radius:	5px;
	border-radius:			5px;

	height:					64px;

	background-size:		auto 64px;
	background-repeat:		no-repeat;
	background-position:	center center;

	margin:					5px 8px 0px 0px;
}

.tweetdetails .thumbnails * {
	height:					128px;
	background-size:		auto 128px;
}

