.gap,
.newcount {
	text-align:				center;
	font-size:				15px;
	font-weight:			bold;
	color:					#d2d2d2;
	padding:				7px 0px 9px 0px;
	background:				url(../../assets/highlight.png)			center top		repeat-x,
							url(../../assets/highlight-bottom.png)	center bottom	repeat-x;
}

.tweet {
	/*
		Position (but don't actually move) the tweet relative so that the avatar
		can use absolute positioning and be relative to the tweet.
	*/
	position:				relative;

	/* Leave a space on the side for the avatar */
	margin-left:			55px;

	padding:				5px;
	min-height:				55px;
	background-position:	5px 5px;
	background-repeat:		no-repeat;

	clear:					both;
}

.tweet .avatar {
	-webkit-border-radius:	5px;
	border-radius:			5px;

	position:				absolute;
	top:					5px;
	left:					-50px;

	height:					48px;
	width:					48px;
	background-size:		48px;
}

.tweet .screenname {
	float:					left;
	color:					#777;
	display:				inline-block;
}

.tweet .username {
	float:					right;
	color:					#777;
	display:				inline-block;
}

.tweet .text {
	clear:					both;
}

.tweet .time {
}

.tweet .via {
}


