.gap,
.newcount {
	text-align:				center;
	font-size:				15px;
	font-weight:			bold;
	color:					#d2d2d2;
	padding:				7px 0px 9px 0px;
	background:				url(../../assets/highlight.png)			center top		repeat-x,
							url(../../assets/highlight-bottom.png)	center bottom	repeat-x;
}

.tweet {
	padding:				5px;
	clear:					both;
}

.tweet *:link,
.tweet *:visited,
.tweet *:active,
.tweet *:hover {
	text-decoration:		none;
	font-weight:			bold;
	color:					#777;

	max-width:				200px;
	text-overflow:			ellipsis;
	overflow:				hidden;
	white-space:			nowrap;
	display:				inline-block;
}

.fontSizeTiny .tweet {
	font-size:				12px;
}
.fontSizeSmall .tweet {
	font-size:				14px;
}
.fontSizeMedium .tweet {
	font-size:				16px;
}
.fontSizeLarge .tweet {
	font-size:				18px;
}

.showAvatar .tweet {
	/* Leave a space on the side for the avatar */
	margin-left:			55px;

	/*
		Position (but don't actually move) the tweet relative so that the avatar
		can use absolute positioning and be relative to the tweet.
	*/
	position:				relative;
	min-height:				55px;
	background-position:	5px 5px;
	background-repeat:		no-repeat;
}

.showAvatar .tweet .avatar {
	-webkit-border-radius:	5px;
	border-radius:			5px;

	position:				absolute;
	top:					5px;
	left:					-50px;

	height:					48px;
	width:					48px;
	background-size:		48px;
}

.showAvatar .tweet .rt .avatar {
	left:					-25px;

	height:					24px;
	width:					24px;
	background-size:		24px;
}

.showAvatar .tweet .rt {
	/* Leave a space on the side for the avatar */
	margin-left:			28px;

	/*
		Position (but don't actually move) the tweet relative so that the avatar
		can use absolute positioning and be relative to the tweet.
	*/
	position:				relative;
	height:					28px;
	background-position:	0px 0px;
	background-repeat:		no-repeat;
}

.tweet .details,
.tweet .rt .byline {
	color:					#777;
	height:					12px;
	line-height:			12px;
	font-size:				12px;

	padding:				3px 0px 0px 5px;
}

.tweet .screenname {
	float:					left;
	color:					#777;
}

.tweet .username {
	float:					right;
	color:					#777;
}

.tweet .rt,
.tweet .text {
	clear:					both;
}

.tweet .time {
	padding-right:			5px;
}

.tweet .via {
	color:					#777;
}

/*
	Each of these items can be toggled using a user option. If the option is
	enabled then the relevant class will be set on the main kind.
*/
.tweet .avatar,
.tweet .time.relative,
.tweet .time.absolute,
.tweet .username,
.tweet .screenname,
.tweet .via {
	display:				none;
}

.showAvatar			.tweet .avatar,
.showTimeRelative	.tweet .time.relative,
.showTimeAbsolute	.tweet .time.absolute,
.showUserName		.tweet .username,
.showScreenName		.tweet .screenname,
.showVia			.tweet .via {
	display:				inline-block;
}


