#main {
	background:				black;
}

.panel {
	background:				url(../assets/vertical-border.png) left bottom repeat-y;

	color:					white;
}

.manualIndex .selected .message.selected {
	background:				#222;
}
