#main {
	background:				#2c393b;
}

.panel {
	color:					white;
}

.themeFfos .listitem {
	border-bottom:			1px solid #333;
}

.themeFfos .tabbar.bottombar {
	border-top:				0.1rem solid #333;
}

.themeFfos .tabbar.topbar {
	border-bottom:			0.1rem solid #333;
}

.themeFfos .tabbar {
	background:				black !important;
}

