/*
	A theme meant to mimic the Firefox OS look and feel
*/

.themeFfos @font-face {
	font-family:			'MozTTLight';
	src:					url(MozTTLight.ttf) format("truetype");
}

body {
	background:				#fefefe !important;
}

.themeFfos .toolbar {
	background:				none;
	background-color:		black;
	border:					none;
	color:					white;
}

.themeFfos .toolbar.topbar {
	padding-bottom:			0px;
	border:					none;
}

.themeFfos .toolbar.bottombar {
	border-top:				1px solid #933212;
	padding-top:			0px;
}

.themeFfos .toolbar.titlebar {
	background-color:		#dc6a0e !important;
}

/* move the buttons to the right */
.themeFfos .toolbar.titlebar div:last-child {
	position:				absolute;
	right:					0px;
}

.themeFfos .titlebar .imgbtn {
	height:					30px;
	width:					30px;
	padding:				9px 10px;
	background-size:		auto 100%;
}

.themeFfos .toolbar.titlebar .optsbutton {
	padding-left:			0px;
	padding-right:			0px;
}

.themeFfos .titlebar .title {
	left:					30px !important;
}



.themeFfos .listitem {
	border-bottom:			1px solid #ddd;
}

.themeFfos .message .time,
.themeFfos .newcount,
.themeFfos .compose .counter {
	color:					#99bbdd;
	font-weight:			bold;
}

.themeFfos .tabbar {
	background:				#000;
	color:					#fff;
	border:					none !important;
}

.themeFfos .tabbar .tab {
	background:				none;
}

.themeFfos .tab:active,
.themeFfos .imgbtn:active {
	background:				#008aaa !important;
}
.themeFfos .imgbtn.spin {
	background:				none !important;
}

.themeFfos .indicator {
	background:				none;
	border-bottom:			2px solid #c66a00;
}

.themeFfos button,
.themeFfos button.onyx-negative {
	box-shadow:				none;

	color:					#333;
	border-radius:			0px;


	background:				#fafafa url(ffos/button-bg.png) repeat-x left bottom / auto 100%;
	border:					0.1rem solid #a6a6a6;
	border-radius:			0.2rem;
}

.themeFfos button:active {
	border-color:			#008aaa;
	background:				#008aaa;
	background-size:		auto 100%;
	color:					#333;
}

.themeFfos button.onyx-affirmative {
	background-color:		#00caf2;
	border-color:			#008eab;
	color:					#333;
}

/* Toasters */
.themeFfos .toaster.bg,
.themeFfos .compose {
	background:				url(ffos/gradient.png) no-repeat left top / 100% 100%;
}

.themeFfos .toaster .controls {
	background:				url(ffos/pattern.png) repeat scroll left top #2D2D2D;
}

.themeFfos .compose {
	padding-top:			10px;
}


