/*
	A theme meant to mimic the Firefox OS look and feel
*/

.themeFfos @font-face {
	font-family:			'MozTTLight';
	src:					url(MozTTLight.ttf) format("truetype");
}

body {
	background:				#fefefe !important;
}

.themeFfos .toolbar {
	background:				none;
	background-color:		black;
	border:					none;
	color:					white;
}

.themeFfos .toolbar.topbar {
	padding-bottom:			0px;
	border:					none;
}

.themeFfos .toolbar.bottombar {
	border-top:				1px solid #933212;
	padding-top:			0px;
}

.themeFfos .toolbar.titlebar {
	background-color:		#f97c17 !important;
}

/* move the buttons to the right */
.themeFfos .toolbar.titlebar div:last-child {
	position:				absolute;
	right:					0px;
}

.themeFfos .titlebar .imgbtn {
	height:					30px;
	width:					30px;
	padding:				9px 10px;
	background-size:		auto 100%;
}

.themeFfos .toolbar.titlebar .optsbutton {
	padding-left:			0px;
	padding-right:			0px;
}

.themeFfos .titlebar .title {
	left:					30px !important;
}

.themeFfos .listitem {
	border-bottom:			1px solid #ddd;
}

.themeFfos .message .screenname,
.themeFfos .message .username,
.themeFfos .message .time,
.themeFfos .newcount {
	color:					#777;
}

.themeFfos .compose .counter {
	color:					#eaeae7;
	font-weight:			bold;
}

.themeFfos .tabbar {
	background:				#000;
	color:					#fff;
	border:					none !important;
}

.themeFfos .tabbar .tab {
	background:				none;
}

.themeFfos .tab:active,
.themeFfos .imgbtn:active {
	background:				#008aaa !important;
}
.themeFfos .imgbtn.spin {
	background:				none !important;
}

.themeFfos .indicator {
	background:				none;
	border-bottom:			2px solid #cd6723;
}

.themeFfos button,
.themeFfos button.onyx-negative {
	box-shadow:				none;

	color:					#333;
	border-radius:			0px;


	background:				#fafafa url(ffos/button-bg.png) repeat-x left bottom / auto 100%;
	border:					0.1rem solid #a6a6a6;
	border-radius:			0.1rem;
}

.themeFfos button:active {
	border-color:			#00aacc;
	background:				#00aacc;
	background-size:		auto 100%;
	color:					#333;
}

.themeFfos button.onyx-affirmative {
	background-color:		#00aacc;
	border-color:			#00aacc;
	color:					#333;
}

.themeFfos .smart-menu .menu-item-button {
	background:				#4e4e4e;
	border:					0.1rem solid #2d2d2d;
}

.themeFfos .smart-menu .menu-cancel-button,
.themeFfos .smart-menu .menu-item-button {
	border-radius:			0.1rem;
	height:					3rem;
}

/* Toasters */
.themeFfos .toaster.bg,
.themeFfos .compose {
	background:				#2c393b;
}

.themeFfos .toaster .controls {
	background:				black;
}

.themeFfos .smart-menu {
	background:				#373737;
}

.themeFfos .smart-menu .controls {
	background:				#2d2d2d;
}

.themeFfos .compose {
	padding-top:			10px;
}

.themeFfos .back.icon {
	background:				url(ffos/icons/back.png)		center center no-repeat;
}
.themeFfos .delete.icon {
	background:				url(ffos/icons/delete.png)		center center no-repeat;
}
.themeFfos .favorite.icon {
	background:				url(ffos/icons/favorite.png)	center center no-repeat;
}
.themeFfos .favorite.icon.active {
	background:				url(ffos/icons/favorite-active.png)
															center center no-repeat;
}
.themeFfos .reply.icon {
	background:				url(ffos/icons/reply.png)		center center no-repeat;
}
.themeFfos .repost.icon {
	background:				url(ffos/icons/repost.png)		center center no-repeat;
}
.themeFfos .convo.icon {
	background:				url(ffos/icons/convo.png)		center center no-repeat;
}
.themeFfos .options.icon {
	background:				url(ffos/icons/menu.png)		center center no-repeat;
}

