#main {
	background:			#1B1E1F;
}

.panel {
	color:				white;
}

.themeFfos .toolbar.titlebar {
	background-color:		#242D33 !important;
}

.themeFfos .listitem {
	border-bottom:			1px solid #333;
}

.themeFfos .tabbar.bottombar {
	border-top:			0.1rem solid #333;
}

.themeFfos .tabbar.topbar {
	border-bottom:			0.1rem solid #333;
}

.themeFfos .tabbar {
	background:			black !important;
}

.themeFfos .tabbar .count {
	color:				white;
}

.themeFfos .indicator {
	background:			none;
	border-bottom:			2px solid #00aacc;
}