/*
 * Android Red theme
 */

/* macaw.css */

body {
	background:				#000 !important;
}

.toolbar.topbar {
	background:				#030303;
	padding-bottom:			0px;
	border-bottom:			2px solid #cc0000;
}

.toolbar.bottombar {
	background:				#030303;
	padding-top:			0px;
	border-top:				2px solid #cc0000;
}

.tabbar .tab .count {
	color:					#cc0000;
	font-weight:			bold;
}

.bottombar .indicator {
	bottom:					49px;
	background:				url(../assets/indicator-up-holored.png)		no-repeat;
}

.topbar .indicator {
	top:					49px;
	background:				url(../assets/indicator-down-holored.png)		no-repeat;
}

/* tweets.css */

.tweetmsg {
	color:					#000;
	background:				#cc0000;
}

.tweet .text .link {
	font-weight:			normal;
}

.tweet .rt,
.tweet .text {
	color:					#bbb;
}

.link {
	color:					#cc0000;
}

/* toaster.css */

.toaster.bg {
	background:				#222222;
}

.toaster .controls {
	background:				#030303;
	border-top:				2px solid #cc0000;
}

/* composetweet.css */

.compose {
	background:				#222;
	padding-top:			10px;
}


.compose .counter {
	color:					#cc0000;
}
