/*
 * Android Red theme
 */

/* macaw.css */
.toolbar.topbar {
	border-bottom:			2px solid #cc0000;
}

.toolbar.bottombar {
	border-top:				2px solid #cc0000;
}

.tabbar .tab .count {
	color:					#cc0000;
	font-weight:			bold;
}

.bottombar .indicator {
	bottom:					49px;
	background:				url(../assets/indicator-up-holored.png)		no-repeat;
}

.topbar .indicator {
	top:					49px;
	background:				url(../assets/indicator-down-holored.png)		no-repeat;
}

/* messages.css */
.listmsg {
	background:				#cc0000;
}

.link {
	color:					#cc0000;
}

/* toaster.css */
.toaster .controls {
	border-top:				2px solid #cc0000;
}

/* compose.css */
.compose .counter {
	color:					#cc0000;
}
