.themeMaterial-dark .panels {
	background:			#37474F !important;
}

.themeMaterial-dark .enyo-puller {
	color:				#e0e0e0;
}

.themeMaterial-dark .message a, .message a:link {
	color:				rgba(255,255,255,0.4);
}

.themeMaterial-dark .panel {
	color:				#F0F0F0;
}

.themeMaterial-dark .message .screenname,
.themeMaterial-dark .message .username,
.themeMaterial-dark .message .time,
.themeMaterial-dark .newcount {
	color:				#80CBC4;
}

.themeMaterial-dark .toolbar.titlebar {
	background-color:		#263238 !important;
}

.themeMaterial-dark .listitem {
	border-bottom:			1px solid #333;
}

.themeMaterial-dark .tabbar {
	background:			#202A30 !important;
}

.themeMaterial-dark .tabbar .count {
	color:				#fafafa;
}

.themeMaterial-dark .indicator {
	border-bottom-color:		#80CBC4;
}

.themeMaterial-dark .toaster.bg {
	background:			#37474F;
	color:				#fafafa;
}

.themeMaterial-dark .toaster .messagedetails {
	background:			#37474F;
	color:				#fafafa;
}

.themeMaterial-dark .toaster .title {
	color:				rgba(255,255,255,0.8) !important;
}

.themeMaterial-dark .smart-menu .menuitem,
.themeMaterial-dark .smart-menu .menu-item-button {
	background:			#37474F !important;
	color:				#fafafa !important;
}

.themeMaterial-dark button,
.themeMaterial-dark button.onyx-negative {
	background:			rgba(255,255,255,0.4);
	color:				#fafafa;
}

.themeMaterial-dark .toaster .controls {
	background:			#232E34;
}

.themeMaterial-dark .listmsg {
	background:			rgba(255,255,255,0.1);
}

.themeMaterial-dark .compose {
	background:			#37474F;
}

.themeMaterial-dark .compose,
.themeMaterial-dark .compose.counter {
	color:				rgba(255,255,255, 0.54) !important;
}

.themeMaterial-dark .compose .text {
	color:				rgba(255,255,255, 0.87) !important;
}

.themeMaterial-dark .send.icon {
	background:			url(material-dark/icons/compose.png) center center no-repeat;
}

