.profile {
	font-size:				16px;
}

.profile .profilepanels {
	max-width:				500px;
	margin-left:			auto;
	margin-right:			auto;
}

.profile .info > * > * > * {
	display:				inline-block;
}

.profile .info > * > * :last-child {
	float:					right;
}

.profile .banner {
	height:					160px;
	width:					100%;

	background-repeat:		no-repeat;
	text-align:				center;

	background-size:		320px;
	padding-top:			10px;
}

.profile .avatar {
	-webkit-border-radius:	5px;
	border-radius:			5px;
	border:					2px solid white;

	margin:					0px auto 10px auto;

	height:					60px;
	width:					60px;
	background-size:		60px;
}

.profile .controls {
	position:				absolute;
	bottom:					0px;
}

.profile .username,
.profile.screenname {
	display:				block;
}

.profile .verified {
	background:				url(../../assets/icons/verified.png)				5px center no-repeat;
	padding-left:			26px;
	font-weight:			bold;
}

.profile .controls .info {
	background:				url(../../assets/icons/profile-info.png)			center center no-repeat;
}
.profile .controls .info.selected {
	background:				url(../../assets/icons/profile-info-tapped.png)		center center no-repeat;
}

.profile .controls .history {
	background:				url(../../assets/icons/profile-history.png)			center center no-repeat;
}
.profile .controls .history.selected {
	background:				url(../../assets/icons/profile-history-tapped.png)	center center no-repeat;
}

.profile .controls .mentions {
	background:				url(../../assets/icons/profile-mentions.png)		center center no-repeat;
}
.profile .controls .mentions.selected {
	background:				url(../../assets/icons/profile-mentions-tapped.png)	center center no-repeat;
}

.profile .controls .favorite {
	background:				url(../../assets/icons/profile-favorite.png)		center center no-repeat;
}
.profile .controls .favorite.selected {
	background:				url(../../assets/icons/profile-favorite-tapped.png)	center center no-repeat;
}

