body {
	width:					100%;
	height:					100%;
	background:				#c3bdb1 !important;

	overflow:				none !important;
}

body.Pre3 {
	zoom:					150%;
}

.hide {
	display:				none !important;
}

.center {
	margin-left:			auto;
	margin-right:			auto;

	text-align:				center;
}

.error {
	padding:				7px 5px 7px 32px;
	background:				black;
	background-image:		url(../assets/error.png);
	background-position:	7px center;
	background-repeat:		no-repeat;

	height:					24px;
	line-height:			24px;

	width:					100%;
}

.panels {
	padding:				0;
	margin:					0;

	position:				absolute;
	top:					0px;
	right:					0px;
	bottom:					0px;
	left:					0px;
}

.panels.padtop {
	top:					48px;
}

.panels.padbottom {
	bottom:					48px;
}


.panel {
	background:				url(../assets/vertical-border.png) left bottom repeat-y;
}

/* Add padding to the top or bottom to adjust for the toolbars */
.toolbar {
	display:				none;

	height:					48px;
	margin:					0px;
	padding:				0px;

	position:				absolute;
	left:					0px;
	right:					0px;

	pointer-events:			none;
	border:					none;
}

.toolbar * {
	pointer-events:			auto;

	line-height:			48px;
	display:				inline-block;
}

.toolbar .composebutton {
	float:					right;
}

.toolbar.topbar {
	display:				block;

	top:					0px;
	background:				url(../assets/top-bar.png)			left -18px repeat-x;
	padding-bottom:			18px;
}

.toolbar.bottombar {
	display:				block;

	bottom:					0px;
	background:				url(../assets/bottom-bar.png)		left bottom repeat-x;
	padding-top:			20px;
}

.toolbar .tabcontainer {
	width:					100%;
	height:					100%;
}

/*
	When the screen is less than 640px a single panel will be displayed and will
	take the whole screen width.

	When showing multiple columns at once the indicator is not very useful, so
	hide it, unless the user selects a panel with the keyboard.
*/
@media screen and (min-width:641px) {
	.indicator {
		display:			none;
	}

	.manualIndex .indicator {
		display:			block;
	}
}
@media all and (max-width: 640px) {
	.indicator {
		display:			block;
	}
}

.tabbar .tab {
	position:				relative;

	display:				inline-block;
	height:					100%;
	width:					24px;

	pointer-events:			auto;

	background:				url(../assets/vertical-border.png) left top no-repeat
}

.tabbar .tab .imgbtn {
	display:				block;

	margin:					16px auto;
}

.tabbar .tab .count {
	position:				absolute;
	left:					20px;
	top:					10px;
	width:					100%;

	color:					white;
	text-align:				center;
	font-size:				12px;

	background:				none;
}

.bottombar .indicator {
	bottom:					48px;
	background:				url(../assets/indicator-up.png)		no-repeat;
}

.topbar .indicator {
	top:					46px;

	background:				url(../assets/indicator-down.png)	no-repeat;
}

.indicator {
	width:					16px;
	height:					10px;

	position:				absolute;
	background-position:	center center !important;

	-webkit-transition:		left .25s;
	transition:				left .25s;
}


/*
	Spin (or stop spinning) an item for up to 5 minutes

	This was originally done using a keyframe animation, but that failed on some
	platforms. This approach is simpler, with the only downside being a maximum
	time period, but for this usage that is okay.
*/
.spin {
	transition:             transform           300s linear;
	-webkit-transition:     -webkit-transform   300s linear;
	-moz-transition:        -moz-transform      300s linear;
	-o-transition:          -o-transform        300s linear;
	-ms-transition:         -ms-transform       300s linear;

	transform:              rotate(150000deg);
	-webkit-transform:      rotate(150000deg);
	-moz-transform:         rotate(150000deg);
	-o-transform:           rotate(150000deg);
	-ms-transform:          rotate(150000deg);
}

.endspin {
	transition:             transform           0s linear;
	-webkit-transition:     -webkit-transform   0s linear;
	-moz-transition:        -moz-transform      0s linear;
	-o-transition:          -o-transform        0s linear;
	-ms-transition:         -ms-transform       0s linear;

	transform:              rotate(0deg);
	-webkit-transform:      rotate(0deg);
	-moz-transform:         rotate(0deg);
	-o-transform:           rotate(0deg);
	-ms-transform:          rotate(0deg);
}

/*
.tab-timeline {
	background:				url(../assets/icons/tweets.png)		center center no-repeat;
}
.tab-mentions {
	background:				url(../assets/icons/mentions.png)	center center no-repeat;
}
.tab-messages {
	background:				url(../assets/icons/messages.png)	center center no-repeat;
}
.tab-favorites {
	background:				url(../assets/icons/favorite.png)	center center no-repeat;

	/* The favorite icon is larger since it is used in other places */
	background-size:		16px;
}
.tab-list,
.tab-lists {
	background:				url(../assets/icons/lists.png)		center center no-repeat;
}
.tab-search,
.tab-searchresults {
	background:				url(../assets/icons/search.png)		center center no-repeat;
}
*/

.toolbar .title {
	text-align:				center;

	color:					white;
	background:				url(../assets/vertical-border.png)	left top no-repeat,
							url(../assets/vertical-border.png)	right top no-repeat;
}

.compose.icon {
	background:				url(../assets/icons/compose.png)	center center no-repeat;
}
.options.icon {
	background:				url(../assets/icons/opts.png)		center center no-repeat;
}
.refresh.icon {
	background:				url(../assets/icons/refresh.png)	center center no-repeat;
}

.back.icon {
	background:				url(../assets/icons/back.png)		center center no-repeat;
}
.delete.icon {
	background:				url(../assets/icons/delete.png)		center center no-repeat;
}
.reply.icon {
	background:				url(../assets/icons/reply.png)		center center no-repeat;
}
.repost.icon {
	background:				url(../assets/icons/repost.png)		center center no-repeat;
}
.favorite.icon {
	background:				url(../assets/icons/favorite.png)	center center no-repeat;
}
.favorite.icon.active {
	background:				url(../assets/icons/favorite-active.png)
																center center no-repeat;
}
.convo.icon {
	background:				url(../assets/icons/convo.png)		center center no-repeat;
}
.edit.icon {
	background:				url(../assets/icons/edit.png)		center center no-repeat;
}
.confirm.icon {
	background:				url(../assets/icons/confirm.png)	center center no-repeat;
	background-size:		32px;
}
.cancel.icon {
	background:				url(../assets/icons/cancel.png)		center center no-repeat;
}

/*
	An icon (used in most cases) uses a background to set the image so that it
	can be completely controlled with css.
*/
.icon {
	width:					48px;
	height:					100%;
	background-position:	center center;

	display:				inline-block;
}

/*
	A imgbtn is used for anything that needs to be animated and uses an html img
	tag, since animations using backgrounds don't work on all devices.
*/
.imgbtn {
	margin:					15px;
	padding:				0px;

	width:					18px;
	height:					16px;

	display:				inline-block;
}

.confirm .title {
	padding:				5px;
	text-align:				center;
}

.groupbox {
	border-width:			9px;
	-webkit-border-image:	url(../assets/groupbox.png) 9 stretch;
	border-image:			url(../assets/groupbox.png) 9 9 fill stretch;

	margin:					10px;
}

.groupbox > div {
	padding:				10px;
	background:				url(../assets/horizontal-border.png) left bottom repeat-x;
}

.groupbox :last-child {
	background:				none;
}

