body {
	width:					100%;
	height:					100%;
	background:				#c3bdb1 !important;

	overflow:				none !important;
}

body.Pre3 {
	zoom:					150%;
}

/* Correct the behavior of the onyx scrim when used with our toasters */
.onyx-scrim.onyx-scrim-translucent {
	opacity:				0.5;
	filter:					alpha(opacity=50);
	z-index:				auto;
}

.hide {
	display:				none !important;
}

.center {
	margin-left:			auto;
	margin-right:			auto;
}

.error {
	padding:				7px 5px 7px 32px;
	background:				black;
	background-image:		url(../assets/error.png);
	background-position:	7px center;
	background-repeat:		no-repeat;

	height:					24px;
	line-height:			24px;

	width:					100%;
}

.panels {
	padding:				0;
	margin:					0;

	position:				absolute;
	top:					0px;
	right:					0px;
	bottom:					0px;
	left:					0px;
}

.panels.padtop {
	top:					48px;
}

.panels.padbottom {
	bottom:					48px;
}


.panel {
	width:					320px;
	background:				url(../assets/vertical-border.png) left bottom repeat-y;
}

/* Add padding to the top or bottom to adjust for the toolbars */
.toolbar {
	display:				none;

	height:					48px;
	margin:					0px;
	padding:				0px;

	position:				absolute;
	left:					0px;
	right:					0px;

	pointer-events:			none;
	border:					none;
}

.toolbar * {
	pointer-events:			auto;

	height:					48px;
	line-height:			48px;

	margin:					0px;
	padding:				0px;
	background:				url(../assets/vertical-border.png) left bottom no-repeat,
							url(../assets/vertical-border.png) right bottom no-repeat;
}

.toolbar.topbar {
	display:				block;

	top:					0px;
	background:				url(../assets/top-bar.png)			left -18px repeat-x;
	padding-bottom:			18px;
}

.toolbar.bottombar {
	display:				block;

	bottom:					0px;
	background:				url(../assets/bottom-bar.png)		left bottom repeat-x;
	padding-top:			20px;
}

/*
	When the screen is less than 640px a single panel will be displayed and will
	take the whole screen width.

	When showing multiple columns at once the indicator is not very useful, so
	hide it.
*/
@media screen and (min-width:640px) {
	.indicator {
		display:			none;
	}
}

.tabbar .tab {
	display:				inline-block;
	height:					100%;
	width:					24px;

	pointer-events:			auto;

	margin:					auto 0 auto 0;
}

.bottombar .indicator {
	bottom:					48px;
	background:				url(../assets/indicator-up.png)		no-repeat;
}

.topbar .indicator {
	top:					46px;

	background:				url(../assets/indicator-down.png)	no-repeat;
}

.indicator {
	width:					16px;
	height:					10px;

	position:				absolute;
	background-position:	center center !important;

	-webkit-transition:		left .25s;
	transition:				left .25s;
}

.tab-timeline {
	background:				url(../assets/icons/tweets.png)		center center no-repeat;
}
.tab-mentions {
	background:				url(../assets/icons/mentions.png)	center center no-repeat;
}
.tab-messages {
	background:				url(../assets/icons/messages.png)	center center no-repeat;
}
.tab-favorites {
	background:				url(../assets/icons/favorite.png)	center center no-repeat;

	/* The favorite icon is larger since it is used in other places */
	background-size:		16px;
}
.tab-list,
.tab-lists {
	background:				url(../assets/icons/lists.png)		center center no-repeat;
}
.tab-search,
.tab-searchresults {
	background:				url(../assets/icons/search.png)		center center no-repeat;
}

.toolbar .title {
	text-align:				center;

	color:					white;
}

.compose.button {
	background:				url(../assets/icons/compose.png)	center center no-repeat;
}
.options.button {
	background:				url(../assets/icons/opts.png)		center center no-repeat;
}
.refresh.button {
	background:				url(../assets/icons/refresh.png)	center center no-repeat;
}
.back.button {
	background:				url(../assets/icons/back.png)		center center no-repeat;
}
.reply.button {
	background:				url(../assets/icons/reply.png)		center center no-repeat;
}
.retweet.button {
	background:				url(../assets/icons/retweet.png)	center center no-repeat;
}
.favorite.button {
	background:				url(../assets/icons/favorite.png)	center center no-repeat;
}
.favorite.button.active {
	background:				url(../assets/icons/favorite-active.png)
																center center no-repeat;
}
.convo.button {
	background:				url(../assets/icons/convo.png)		center center no-repeat;
}

.button {
	width:					48px;
	height:					100%;
	background-position:	center center;

	display:				inline-block;
}

